html {
    box-sizing: border-box;
}

body {
    background: #D2D2FF;
}

header {
    background: white;
    color: #333;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 45px;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    max-width: 930px;
    margin: 0 auto;
}

.header-content > input {
    display: none;
}

@media (min-width: 700px) {
    .header-content > input {
        display: block;
    }
}
nav > ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav > ul > li {
    display: inline-block;
}

main {
    max-width: 930px;
    margin: 5rem auto;
}

.user {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: repeat(3, auto);
}

.user > h1 {
    margin: 0;
}

.user > p {
    grid-column: 1 / -1;
}

.user > .stats {
    grid-column: 1 / -1;
    grid-row: 3;
    display: flex;
    justify-content: space-around;
}

.user > img {
    border-radius: 50%;
    width: 70px;
    justify-self: center;
}

@media (min-width: 700px) {
    .user {
        grid-template-columns: 1fr 2fr;
    }
    .user > p {
        grid-column: auto;
    }
    .user > .stats {
        grid-column: auto;
        grid-row: auto;
        display: block;
    }
    .user > img {
        width: 152px;
        grid-row: 1 / -1;
    }
}

.user-nav {
    display: flex;
    justify-content: center;
}

.user-nav > a {
    padding: 5px;
}

.news-feed {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 5px;
}

@media (min-width: 700px) {
    .news-feed {
        grid-gap: 20px;
    }
}

.news-feed > img {
    width: 100%;
}